.container
  .row
    %h2.ollert-header
      .text-center.col-xs-12
        Proyectos

  .row
    %hr
  

  - @boards.each do |org_name, boards|
    .organization.clearfix
      .h4
        #{org_name}
      %ul{class: 'boards-list'}
        - boards.each do |board|
          %li.boards-list-item
            %a.btn.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
              #{board["name"]}
              
:javascript
  window.onload = function() {
    var adjustment;

    $(".boards-list").sortable({
      group: 'simple_with_animation',
      pullPlaceholder: false,
      // animation on drop
      onDrop: function  ($item, container, _super) {
        var $clonedItem = $('<li/>').css({height: 0});
        $item.before($clonedItem);
        $clonedItem.animate({'height': $item.height()});

        $item.animate($clonedItem.position(), function  () {
          $clonedItem.detach();
          _super($item, container);
        });
      },

      // set $item relative to cursor position
      onDragStart: function ($item, container, _super) {
        var offset = $item.offset(),
            pointer = container.rootGroup.pointer;

        adjustment = {
          left: pointer.left - offset.left,
          top: pointer.top - offset.top
        };

        _super($item, container);
      },
      onDrag: function ($item, position) {
        $item.css({
          left: position.left - adjustment.left,
          top: position.top - adjustment.top
        });
      }
    });
  };
