#board-details
  .container
    .row
      #board-name.col-xs-8.col-xs-offset-2.text-center.h2.ollert-header
        Calendario
      
    .row
      .col-md-12.col-sm-12.col-xs-12
        .analysis-block-md
          %img#calendar-spinner{src: '/img/spinner.gif'}
          #calendar-container.med-chart.graph-container

:javascript
  window.onload = function() {
    CalendarController.init("#{@mun_id}", "#{@token}");
  };
