
.container
  .row
    %h2.ollert-header
      .text-center.col-xs-12{style:"margin-top:30px;"}
        Calendario
      
      
  .row
    .col-md-offset-2.col-md-8.col-sm-12.col-xs-12
      .analysis-block-md
        %img#calendar-spinner{src: '/img/spinner.gif'}
        #calendar-container.med-chart.graph-container
  .row  
    %a.btn.plus#save_image_locally
      Imprimir

  :javascript
    $('#save_image_locally').click(function(){
      html2canvas($('.analysis-block-md'), 
      {background :'#FFFFFF',
        onrendered: function (canvas) {
          var a = document.createElement('a');
          // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
          a.href = canvas.toDataURL("image/png");
          a.download = 'archivo-proyectos.png';
          a.click();
        }
      });
    });


:javascript
  window.onload = function() {
    CalendarController.init("#{@mun_id}", "#{@token}");
  };
