.container
  .fondo-blanco
    
    .row
      .text-center.small{style:"margin-top: 50px;"}
        
    

    .row
      %form#components.form-horizontal{role: "form", :action=>"/save_pass_vol", :method=>"post"}
        %fieldset
          .tab-content
            / Tabs of snippets go here
            #input.tab-pane.active
              .component
                / Text input
                .form-group{style:"margin-left:0px;margin-right:0px;"} 
                  .col-sm-offset-3.col-md-offset-3.col-md-6.col-sm-6.col-xs-12
                    %input#txtNewPassword.form-control.input-md{name: "pass1", placeholder: "Nueva Contraseña",style: "cursor: auto;", type: "password" ,required: ""}/
                .form-group{style:"margin-left:0px;margin-right:0px;"} 
                  .col-sm-offset-3.col-md-offset-3.col-md-6.col-sm-6.col-xs-12
                    %input#txtConfirmPassword.form-control.input-md{name: "pass2", placeholder: "Repetir Contraseña",style: "cursor: auto;", type: "password" ,required: ""}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label
                  .col-md-6.col-sm-6.col-xs-12
                    #divCheckPasswordMatch
                .form-group{style:"margin-left:0px;margin-right:0px;"} 
                  .col-sm-offset-3.col-md-offset-3.col-md-6.col-sm-6.col-xs-12
                    %input#textinput.form-control.input-md{name: "user", type: "hidden" ,value: "#{@user.id}"}/
                
                .form-group
                  .col-sm-offset-3.col-md-offset-3.col-md-6.col-sm-6.col-xs-12.text-center

                    .col-sm-offset-3.col-md-offset-3.col-md-6.col-sm-6.col-xs-12.text-center
                      %input.btn.plus{:type => "submit", :value => "Actualizar contraseña",:style => "background-color:#b3b3b3;margin-top:0px;"}    


:javascript
  function checkPasswordMatch() {
    var password = $("#txtNewPassword").val();
    var confirmPassword = $("#txtConfirmPassword").val();

    if (password != confirmPassword){
      $("#divCheckPasswordMatch").html("Las contraseñas no coinciden!");
      return false;
    }
    else{
      $("#divCheckPasswordMatch").html("¡Perfecto!");
      return true;
    }
  }
  $(document).ready(function () {
    $("#txtNewPassword").keyup(checkPasswordMatch);
    $("#txtConfirmPassword").keyup(checkPasswordMatch);
  });
  $(function() {
    $('#components').submit(function() {
      if(checkPasswordMatch())
        return true; 
      else
        shake();
        return false;
    });
  });
  function shake(){
    $('#divCheckPasswordMatch').animate({
      'margin-left': '-=5px',
      'margin-right': '+=5px'
    }, 100, function() {
      $('#divCheckPasswordMatch').animate({
          'margin-left': '+=5px',
          'margin-right': '-=5px'
      }, 100, function() {
          //and so on...
      });
    });
  }