%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCfYWTKUU4QL_d1WLpJVLfjcTAJTwYVl3w&callback=initMap"}
.row
  %h2.ollert-header
    .text-center.col-xs-12
      NUEVO PROYECTO de #{@orgName}
.row
  %form#components.form-horizontal{role: "form", :action=>"/create_project", :method=>"post"}
    %fieldset
      .tab-content
        / Tabs of snippets go here
        #input.tab-pane.active
          .component
            / Text input
            .form-group
              %label.col-md-4.control-label{for: "textinput"} Nombre
              .col-md-4
                %input#textinput.form-control.input-md{name: "name", placeholder: "Nombre del proyecto", style: "cursor: auto;", type: "text"}/
            .form-group
              %label.col-md-4.control-label{for: "textinput"} Equipo
              .col-md-4
                %input#textinput.form-control.input-md{name: "orgName", value: "#{@orgName}", style: "cursor: auto;", type: "text", disabled: "true"}/
            .form-group
              %label.col-md-4.control-label{for: "textinput"} Monto
              .col-md-4
                %input#textinput.form-control.input-md{name: "monto",step: "100000", style: "cursor: auto;", type: "number"}/
            .form-group
              #map
             
            .form-group
              
              .col-md-4
                %input#textinput.form-control.input-md{name: "org_id", value: "#{@org_id}", placeholder: "Nombre del proyecto", style: "cursor: auto;", type: "hidden"}/
            .form-group
              %label.col-md-4.control-label{for: "textinput"} 
              .col-md-4
                %input{:type => "submit", :value => "Crear", :class => "button"}    

          
            
:javascript
  
    function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 10.209, lng: 108},
      zoom: 5,
    });
    };
  
