
.row
  %h2.ollert-header
    .text-center.col-xs-12
      NUEVO PROYECTO de #{@orgName}
.row
  %form#components.form-horizontal{role: "form", :action=>"/create_project", :method=>"post"}
    %fieldset
      .tab-content
        / Tabs of snippets go here
        #input.tab-pane.active
          .component
            / Text input
            .form-group
              %label.col-md-4.control-label{for: "textinput"} Nombre
              .col-md-4
                %input#textinput.form-control.input-md{name: "name", placeholder: "Nombre del proyecto", style: "cursor: auto;", type: "text"}/
            .form-group
              %label.col-md-4.control-label{for: "textinput"} Equipo
              .col-md-4
                %input#textinput.form-control.input-md{name: "orgName", value: "#{@orgName}", style: "cursor: auto;", type: "text", disabled: "true"}/
            .form-group
              
              .col-md-4
                %input#textinput.form-control.input-md{name: "org_id", value: "#{@org_id}", placeholder: "Nombre del proyecto", style: "cursor: auto;", type: "hidden"}/
            .form-group
              %label.col-md-4.control-label{for: "textinput"} 
              .col-md-4
                %input{:type => "submit", :value => "Crear", :class => "button"}    

          
            
