
   
.container
  .fondo-blanco

    .row
      .col-md-12.col-sm-12.col-xs-12.no-padding
        .col-md-3.col.sm-1.col-sm-1
        .col-md-6.col.sm-10.col-sm-10
          %p
            Las tareas predeterminadas son una de las opciones de personalización que ofrece SIMPLA. Consiste en la definición de ciertas tareas que se cargarán automáticamente en Trello como parte de las labores que el equipo SECPLAC debe realizar. Las tareas se cargan por cada fondo y por cada etapa, definiendo una estandarización de éstas dependiendo de los requisitos de cada fondo.
          %br
          %p
            Las tareas asociadas a una etapa específica serán cargadas automáticamente en Trello una vez que el proyecto entre en esa etapa. Las tareas cargadas aparecerán como "Pendientes" a los miembros del equipo SECPLAC, quienes podrán verlas, asignarlas y trabajar en su elaboración y desarrollo. Luego de ser cargadas no se borrarán incluso si se retrocede de etapa.
        .col-md-3.col.sm-1.col-sm-1
    .row
      .col-md-12.col-sm-12.col-xs-12{style:"padding-left:50px;padding-right:50px;padding-top:50px"}
        %img{src:"/img/trello.png",style:"width:100%"}
      
    .row
      .col-md-12.col-sm-12.col-xs-12{style:"padding:50px"}
        *Acá se muestra cómo se cargan las tareas en “Pendientes” dentro de los proyectos de Trello.
      
        
