.landing-connect{style:"display:table-cell;height:100vh;"}
  .text-center{style:"color:#0167a3;text-align:-webkit-center;padding-top:170px;"}
    %div{style:"max-width:100%;display:-webkit-box;"}
      %h4{style:"display:-webkit-inline-box;background-color:#fff;padding:5px;"}
        BIENVENIDO AL PORTAL DE HERRAMIENTAS PARA LA GESTIÓN MUNICIPAL
      
    
  .col-xs-12.col-sm-12.col-md-offset-2.col-md-8.text-center{style:"padding-top:80px;"}
    
    .col-xs-6.col-sm-6.col-md-6.text-center{style:"padding-top:20px;"}
      %a{href:"/home"}
        %img{src: '/img/logits-40.png', width: '100%', style: "background-color:#e2882d;padding-left: 17px;padding-right: 17px;"}
    .col-xs-6.col-sm-6.col-md-6.text-center{style:"padding-top:20px;"}
      %a{href:"http://metodologiasparticipa.cl"}
        %img{src: '/img/logits-41.png', width: '100%', style: "background-color:#e2882d;padding-left: 17px;padding-right: 17px;"}
  .col-xs-12.col-sm-12.col-md-offset-2.col-md-8.text-center{style:"position:fixed;bottom:20px;color:#a6adb1"}
    %a{href:"http://politicaspublicas.uc.cl",style:"color:#a6adb1"}
      Realizado por el Centro de Políticas Públicas UC
    
  
    

    
:javascript
  $(".navbar").remove();
  $(".principal").css("margin-top","0px");
  $(".principal").css("margin-bottom","0px");