


#confirm.modalx.hide.fade2{style:"padding-right;0px;"}

  .container{style:"margin-left:50px;"}
    %br/
    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        .item.active
          %img{:alt => "Chania", :height => "500", :src => "/img/OLLERT-16.png", :width => "700"}/   
        .item
          %img{:alt => "Chania", :height => "500", :src => "/img/OLLERT-17.png", :width => "700"}/   
        .item
          %img{:alt => "Flower", :height => "500", :src => "/img/OLLERT-18.png", :width => "700"}/
        .item{style:"text-align:center"}
          %a.btn.plus{href:"/",style:"position: fixed;bottom: 0;"}
            Entendido 
          %img{:alt => "Chania", :height => "500", :src => "/img/OLLERT-19.png", :width => "700"}/   
      / Left and right controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true",style:"color: #4D97C1;"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true",style:"color: #4D97C1;"}
        %span.sr-only Next
:javascript
  $(document).ready(function(){
    $('#confirm').modal({ backdrop: 'static', keyboard: false })
    $("#confirm").removeClass( "hide");
  });
  $('.carousel').carousel({
      interval: false,
      wrap: false
  });
  